.App {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    font-size: larger;
    color: gray;
    font-weight: 600;
}

.beer-image {
    max-height: 400px;
    width: auto;
    max-width: 130px;
    height: auto;
}
