
img{
  width:60%;
}
p{
  font-size: 17px;
}
h1{
  color:black;
}
h1:hover{
  color:tomato;
}
.box{
  margin:30px 40px;
  padding:20px;
  border:3px solid grey;
  padding:10px;
  border-radius: 7px;
  overflow: auto;
}
.box:hover{
  background-color: rgb(218, 218, 218);
  border-color:rgb(218, 218, 218);
}
.box img{
  float:left;
  margin-right:18px;
}
.navbar{
  padding:30px;
  text-align: center;
  background-color:rgb(14, 180, 202);
  width:100;
}
.navbar i{
  color:white;
  font-size: 40px;
}